{% extends "base_generic.html" %}

{% block content %}
<h1>Jonathan Wong's sample webapp</h1>

<p>Hey Jon! Sorry for the delay. Here is the repo with all the code <a href="https://bitbucket.org/johnjchung/jwong_app/src/master/">code repo</a> on a public bitbucket project.</p>
<p>Here's the main code for what you wanted <a href="https://bitbucket.org/johnjchung/jwong_app/src/master/randomselector.py">random selector</a> .</p>
<p>The code algo reads in a csv and randomly selects a row and the country in that row. Currently, this isn't scalable but we can make it scalable later. </p>
<p>We can later make the repo private. </p>


<h2>Placeholder for random selector</h2>
<p>We'll add some fancy CSS to make this webapp look nice and not bland! </p>

<div>
{% load static %}

</div>


<h2>Placeholder for dynamic display</h2>

<p>TBD:</p>
<ul>
<li><strong>TBD:</strong> {{ num_books }}</li>
<li><strong>TBD:</strong> {{ num_instances }}</li>
<li><strong>TBD:</strong> {{ num_instances_available }}</li>
<li><strong>TBD:</strong> {{ num_authors }}</li>
</ul>


You have visited this page {{ num_visits }} times.

{% endblock %}
